absl-py==0.2.2
astor==0.6.2
bleach==1.5.0
cloudpickle==0.5.3
cycler==0.10.0
docopt==0.6.2
enum34==1.1.6
future==0.16.0
futures==3.1.1
gast==0.2.0
grpcio==1.12.0
html5lib==0.9999999
imageio==2.3.0
jsonpickle==0.9.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
mock==2.0.0
mpyq==0.2.5
munch==2.3.2
numpy==1.14.3
pandas==0.23.0
patsy==0.5.0
pbr==4.0.3
Pillow==5.1.0
portpicker==1.2.0
protobuf==3.5.2.post1
pybind11==2.2.3
pycurl==7.43.0
pygame==1.9.3
# pygobject==3.20.0
pymongo==3.6.1
pyparsing==2.2.0
PySC2==3.0.0
# python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
ruamel.yaml==0.15.37
s2clientprotocol==4.10.1.75800.0
sacred==0.7.2
scipy==1.0.1
seaborn==0.8.1
six==1.11.0
snakeviz==0.4.2
statsmodels==0.9.0
tensorboard==1.8.0
tensorboard-logger==0.1.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
torch==0.4.0
torchcraft==1.4.0
torchvision==0.2.1
tornado==5.0.2
# unattended-upgrades==0.1
websocket-client==0.48.0
Werkzeug==0.14.1
wrapt==1.10.11

